<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or "Produtos" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
  <header class="container">
    <h1><a href="/products">Cadastro de Produtos</a></h1>
    <nav><a class="btn" href="/products/new">+ Novo Produto</a></nav>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer class="container muted">
    <small>UniFECAF - Projeto Semestral</small>
  </footer>
</body>
</html>