{% extends "base.html" %}
{% block content %}

<h2>
    <small>Código: {{ product.id }}</li></small><br>
    {{ product.name }}
</h2>

<ul class="details">
    <li><strong>SKU:</strong> {{ product.sku }}</li>
    <li><strong>Preço:</strong> {{ product.price|brl_price }}</li>
    
    {% if product.created_at %}
    <li><strong>Criado em:</strong> {{ product.created_at | brl_date }}</li>
    {% endif %}

    {% if product.updated_at %}
    <li><strong>Atualizado em:</strong> {{ product.updated_at | brl_date }}</li>
    {% endif %}
</ul>

<p class="actions">
    {% if current_user and current_user.is_admin() %}
        <button type="button" class="btn" onclick="window.location.href='/products/{{ product.id }}/edit'"><i class="fas fa-edit"></i> Editar</button>
    {% elif current_user %}
        <form method="post" action="/cart/add/{{ product.id }}" style="display:inline;">
            <button type="submit" class="btn primary"><i class="fas fa-cart-plus"></i><i class="fas fa-plus"></i></button>
        </form>
    {% endif %}
    <button type="button" class="btn" onclick="window.location.href='/products'"><i class="fas fa-arrow-left"></i> Voltar</button>
</p>
{% endblock %}